@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
	color: white;
	font-family: 'Poppins', sans-serif;
	padding: 0 6px;
	border-bottom: 3px solid #ffffff00;
	transition: all ease-in-out 0.3s;
}

.nav-item:hover {
	/* background-image: linear-gradient(90deg, #460645, #ff5450); */
	/* -webkit-background-clip: text; */
	/* background-clip: text; */
	/* color: transparent; */
	border-bottom: 3px solid white;
}
